<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>{{ recipe.recipe_name }}</h1>
    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <table>
      <tr>
        <th>Ingredient Name</th>
        <th>Amount</th>
        <th>Unit</th>
      </tr>
      {% for ingredients in recipe.ingredient_set.all %}
      <tr>
        <td>{{ ingredients.ingredient_name }}</td>
        <td>{{ ingredients.amount }}</td>
        <td>{{ ingredients.measure_unit }}</td>
      </tr>
      {% endfor %}
    </table>
    {% for steps in recipe.step_set.all %}
    <p>{{forloop.counter}}. {{ steps.step_description }}</p>
    {% endfor %}
  </body>
</html>
